html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#source_code {
    width: 50%;
    height: 60%;
    font-size: 25px;
    resize: both;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

#linux_terminal {
    margin-top: 5px;
    margin-left: 5px;
    background-color: #bdbdbd;
    width: 50%;
    border-radius: 0.5em;
    border: solid 1px #bdbdbd;
    resize: both;
    overflow: scroll;
}

#linux_terminal_menu {
    margin: 0;
    padding-top: 0px;
    background-color: #bdbdbd;
    height: 25px;
    width: auto;
    border-radius: 0.5em;
    display: flex;
}

#linux_terminal_body {
    height: 90%;
    width: auto;
    background-color: black;
    padding: 10px;
    margin-left: 10px;
    overflow-y: scroll;
}

#cercle_red {
    margin-left: 15px;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
}

#cercle_yellow {
    margin-left: 15px;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: yellow;
}

#cercle_blue {
    margin-left: 15px;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: green;
}

#status_pane {
    margin-top: 5px;
    margin-left: 15px;
    background-color: white;
    width: 17%;
    border-radius: 1em;
    border: solid 1px gray;
}

#status_pane_body {
    height: 100%;
    width: 100%;
    padding: 10px;
}

#stdin_pane {
    margin-top: 5px;
    margin-left: 15px;
    background-color: white;
    width: 30%;
    border-radius: 1em;
    border: solid 1px gray;
}

.myMarker {
    position: absolute;
    background: rgba(100, 200, 100, 0.5);
    z-index: 20
}