html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main_pane {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.top_pane {
    height: 50%;
    width: 100%;
    display: flex;
}

.bottom_pane {
    height: 50%;
    width: 100%;
}

#db_result {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #F5F5F5;
    white-space:nowrap;
    overflow:scroll;
}

.terminal {
    height: 100%;
    width: 40%;
    padding: 5px;
    background-color: black;
    color: white;
    resize: horizontal;
    overflow: scroll;
}

#source_code {
    width: 60%;
    height: 100%;
    font-size: 25px;
    resize: horizontal;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

/* #source_code * {
    font-family:Courier,Monaco,Menlo,"Ubuntu Mono",Consolas,source-code-pro,monospace;
} */

#stdin_pane {
    margin-top: 5px;
    margin-left: 15px;
    background-color: white;
    width: 90%;
    border-radius: 1em;
    border: solid 1px gray;
}

.myMarker {
    position: absolute;
    background: rgba(100, 200, 100, 0.5);
    z-index: 20
}